<div class="mb-4 flex justify-between items-end ">
  <div class="inline-block">
    <h3 class="text-slate-900 text-2xl font-bold leading-8 ">AI Disaster Assistant</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <p class="text-slate-600 text-sm font-normal leading-5">Get area-wise phased solutions powered by AI</p>
    </div>
  </div>
  <div class="inline-block items-end ">
   
     <button
      class="flex items-center btnOnline px-2 gap-1"> <div class="w-1.5 h-1.5 relative opacity-70 bg-green-500 rounded-full"></div>
      AI Online
    </button>
 
  </div>
</div>

