<div class="card">
    <div class="card-header">
        Quick Solutions
    </div>
    <div class="card-body flex flex-col gap-2 mb-2">
        <div class="button text-orange-500">
   <mat-icon fontSet="material-symbols-outlined" >
 mode_heat </mat-icon>
    <span> Heat Stress Response </span>
        </div>
        <div class="button text-blue-500">
    <mat-icon fontSet="material-symbols-outlined">
water_drops</mat-icon>
    <span> Urban Flooding Response </span>
        </div>
        <div class="button text-purple-500">
    <mat-icon fontSet="material-symbols-outlined">
air</mat-icon>
    <span> Air Quality Actions </span>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        Current Conditions
    </div>
    <div class="card-body flex flex-col gap-3 mb-2 w-full">
<div class="text-orange-500 flex items-center gap-2 "><mat-icon fontSet="material-symbols-outlined" >
 mode_heat </mat-icon> <span class="text-gray-950 text-xs font-medium leading-4 me-auto">Temperature</span> <label class="text-neutral-950 text-xs font-semibold leading-4">42°C</label></div>
        <div class="h-5 px-1.5 py-0.5 bg-rose-600 rounded-[5px] outline outline-1 outline-offset-[-1px] outline-black/0 justify-center items-center w-full">
    <p class="text-white text-xs font-medium leading-4">High Risk</p>
</div>
        <div class="text-blue-500 flex items-center gap-2"><mat-icon fontSet="material-symbols-outlined" >
 water_drops </mat-icon> <span class="text-gray-950 text-xs font-medium leading-4 me-auto">Temperature</span> <label class="text-neutral-950 text-xs font-semibold leading-4">42°C</label></div>
        <div class="h-5 px-1.5 py-0.5 bg-gray-950 rounded-[5px] outline outline-1 outline-offset-[-1px] outline-black/0 justify-center items-center w-full">
    <p class="text-white text-xs font-medium leading-4">Medium Risk</p>
</div>
        <div class="text-purple-500 flex items-center gap-2"><mat-icon fontSet="material-symbols-outlined" >
 air </mat-icon> <span class="text-gray-950 text-xs font-medium leading-4 me-auto">Air Quality</span> <label class="text-neutral-950 text-xs font-semibold leading-4">156 AQI</label></div>
        <div class="h-5 px-1.5 py-0.5 bg-gray-100 rounded-[5px] outline outline-1 outline-offset-[-1px] outline-black/0 justify-center items-center w-full">
    <p class="text-black text-xs font-medium leading-4">Moderate</p>
</div>
        </div>
        </div>

        <div class="card mt-3">
    <div class="card-header">
       AI Capabilities
    </div>
    <div class="card-body flex flex-col mb-4">
        <ul class="text-neutral-950 text-xs font-normal leading-4">
            <li><mat-icon fontSet="material-symbols-outlined"> check_circle </mat-icon> Area-specific recommendations</li>
            <li><mat-icon fontSet="material-symbols-outlined"> check_circle </mat-icon> Phased response planning</li>
            <li><mat-icon fontSet="material-symbols-outlined"> check_circle </mat-icon> Real-time data analysis</li>
            <li><mat-icon fontSet="material-symbols-outlined"> check_circle </mat-icon> SOP integration</li>
            <li><mat-icon fontSet="material-symbols-outlined"> check_circle </mat-icon> Multi-hazard coordination</li>
        </ul>
    </div>
</div>
        