<div class="w-56 h-16 px-3.5 pt-3.5 pb-[0.67px] bg-gradient-to-br from-green-50 to-emerald-50 rounded-2xl outline outline-[0.67px] outline-offset-[-0.67px] outline-green-200/50 inline-flex flex-col justify-start items-start gap-1.5 absolute bottom-5">
    <div class="self-stretch h-3.5 relative">
        <div class="h-3.5 left-[15.75px] top-0 absolute inline-flex justify-start items-start">
            <div class="justify-start text-green-700 text-xs font-bold font-['Inter'] leading-4">System Active</div>
        </div>
        <div class="w-2 h-2 left-0 top-[2.63px] absolute">
            <div class="w-2 h-2 left-0 top-0 absolute opacity-80 bg-green-500 rounded-full"></div>
            <div class="w-4 h-4 left-[-3.77px] top-[-3.77px] absolute opacity-10 bg-green-500 rounded-full"></div>
        </div>
    </div>
    <div class="self-stretch h-3.5 inline-flex justify-start items-start">
        <div class="flex-1 justify-start text-green-600 text-xs font-medium font-['Inter'] leading-4">All services operational</div>
    </div>
</div>