 <div class="flex gap-4 justify-between py-4">
  <div 
    *ngFor="let card of AlertsCountCards"
    class="bg-white rounded-xl border-l-4 border-r border-t border-b pl-5 py-5  pr-2 flex gap-[3.5px] items-center justify-between w-1/4"  [style.borderColor]="card.border"
  >
  <div class="flex-grow">
   <div class="flex flex-row h-3.5 text-slate-500 text-xs font-normal font-['Inter'] leading-4" >
    
        {{ card.label }}
     
    </div>
    <div class="flex flex-row h-7 text-left font-bold text-[21px] leading-7" [style.color]="card.color">
      
        {{ card.count }}
    
    </div>
</div>
<div class="flex-none" [style.color]="card.border"><mat-icon fontSet="material-symbols-outlined">{{card.icon}}warning</mat-icon></div>
    
  </div>
</div>
