.crsName{
    background: linear-gradient(90deg, #F54900 0%, #E17100 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 150% */
margin-top: 8.5px;
}
nav{
    max-width: 280px;
    border-right: 0.667px solid rgba(255, 237, 212, 0.50);
background: rgba(255, 255, 255, 0.90);
box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
}

.svg-white svg{
    stroke: var(--color-white);
}