<div class="mb-4 flex justify-between items-end ">
  <div class="inline-block">
    <h3 class="text-slate-900 text-2xl font-bold leading-8 ">Alert Management</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <p class="text-slate-600 text-sm font-normal leading-5">Real-time threshold-based alerts with automated SOP triggers and multi-channel notifications</p>
    </div>
  </div>
  <div class="inline-block items-end ">
   
     <button
      class="flex items-center btnConfig px-2 gap-1"> <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
      Configure Thresholds
    </button>
   
  </div>
</div>

