<div class="card">
    <div class="card-header w-full flex justify-between p-2  items-center">

        <div class="flex items-center grow gap-2 ps-4">

           <svg-icon src="assets/icons/locationPinBoxIcon.svg" class="icon"></svg-icon>
            <div class="flex flex-col gap-0">
                <h2 class="card-title mb-0"> Gujarat Real-Time Monitoring</h2>
                <span> Interactive district-level climate data</span>
            </div>
        </div>
        <div class="badge live-data flex-none flex items-center me-4 px-2 gap-1">

          <span class="w-1.5 h-1.5 bg-white opacity-80 bg-white rounded-full"></span>  Live Data 
        </div>

    </div>
    <div class="card-body">

<div
  class="w-full flex flex-col items-start justify-between h-100 relative"
>
  <div
    class="rounded-2xl border-solid border-[rgba(202,213,226,0.23)] border-2 ms-4 shrink-0 min-w-[660px] h-[400px] relative overflow-hidden w-full"
    style="box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.05)"
  >
  <div [class.map-maximize]="isMaximized" 
     class="rounded-2xl border-2 h-[400px] w-full relative overflow-hidden ">
  
 <app-cm-map #mapComponent class="w-full"> </app-cm-map>
 </div>
       <div
      class="bg-[rgba(251,44,54,0.30)] rounded-[22369600px] w-16 h-16 absolute left-[357px] top-[93px] "
      style="filter: blur(12px)"
    ></div>
    <div class="w-[33.33px] h-[33.33px] absolute left-[573.16px] top-[200px]">
      
      <div
        class="bg-[rgba(254,154,0,0.15)] rounded-[22369600px] w-32 h-32 z-1000 absolute left-[-64px] top-[-64px]"
        style="opacity: 0.5; filter: blur(40px)"
      ></div>
    </div>
    <div
      class="flex flex-col gap-3 items-center justify-center w-[54px] h-[218px] absolute right-[25px] top-[149px]"
    >
      <div
        class="bg-[rgba(255,255,255,0.90)] rounded-[14px] border-solid border-[#cad5e2] border pt-1 pb-1 pl-1 flex flex-col gap-1 items-start justify-start flex-1 w-[54px] relative z-1000"
        style="
          box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
            0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        "
      >
        <div
          class="rounded-[10px] flex flex-col gap-0 items-center justify-center shrink-0 w-11 h-11 relative" (click)="mapComponent.resetView()"
        >
         
          <svg-icon src="assets/icons/refresh.svg"></svg-icon>
        </div>
        <div class="bg-[#cad5e2] shrink-0 w-11 h-px relative"></div>
        <div
          class="rounded-[10px]  flex flex-col gap-0 items-center justify-center shrink-0 w-11 h-11 relative" (click)="mapComponent.zoomIn()"
        >
           <svg-icon src="assets/icons/zoomIn.svg"></svg-icon>
        </div>
        <div class="bg-[#cad5e2] shrink-0 w-11 h-px relative"></div>
        <div
          class="rounded-[10px] flex flex-col gap-0 items-center justify-center flex-1 w-11 relative" (click)="mapComponent.zoomOut()"
        >
           <svg-icon src="assets/icons/zoomOut.svg"></svg-icon>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.90)] rounded-[14px] border-solid border-[#cad5e2] border flex flex-col gap-0 items-center justify-center shrink-0 w-[54px] h-[46px] relative z-1000"
        style="
          box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
            0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        "(click)="mapComponent.toggleFullscreen()"
      >
         <svg-icon src="assets/icons/maximize.svg"></svg-icon>
      </div>
    </div>
    <div
      class="bg-[rgba(255,255,255,0.95)] rounded-[7px] border-solid border-[#e2e8f0] border-[0.67px] pt-[11.17px] pr-[11.17px] pb-[0.67px] pl-[11.17px] flex flex-col gap-[7px] items-start justify-start w-[110px] h-[115.08px] absolute left-[25px] top-[252px] z-1000"
      style="
        box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
          0px 10px 15px -3px rgba(0, 0, 0, 0.1);
      "
    >
      <div
        class="flex flex-row gap-0 items-start justify-start self-stretch shrink-0 h-3.5 relative"
      >
        <div
          class="text-[#314158] text-left font-['Inter-SemiBold',_sans-serif] text-[10.5px] leading-[14px] font-semibold relative"
        >
          Severity Levels
        </div>
      </div>
      <div
        class="flex flex-col gap-[5.25px] items-start justify-start self-stretch shrink-0 h-[71.75px] relative"
      >
        <div
          class="flex flex-row gap-[7px] items-center justify-start self-stretch shrink-0 h-3.5 relative"
        >
          <div
            class="bg-[#22c55e] rounded-[22369600px] shrink-0 w-[8.75px] h-[8.75px] relative"
          ></div>
          <div
            class="flex flex-row gap-0 items-start justify-start shrink-0 w-[34.59px] h-3.5 relative"
          >
            <div
              class="text-[#45556c] text-left font-['Inter-Regular',_sans-serif] text-[10.5px] leading-[14px] font-normal relative"
            >
              Normal
            </div>
          </div>
        </div>
        <div
          class="flex flex-row gap-[7px] items-center justify-start self-stretch shrink-0 h-3.5 relative"
        >
          <div
            class="bg-[#ef4444] rounded-[22369600px] shrink-0 w-[8.75px] h-[8.75px] relative"
          ></div>
          <div
            class="flex flex-row gap-0 items-start justify-start shrink-0 w-[15.19px] h-3.5 relative"
          >
            <div
              class="text-[#45556c] text-left font-['Inter-Regular',_sans-serif] text-[10.5px] leading-[14px] font-normal relative"
            >
              Act
            </div>
          </div>
        </div>
        <div
          class="flex flex-row gap-[7px] items-center justify-start self-stretch shrink-0 h-3.5 relative"
        >
          <div
            class="bg-[#f97316] rounded-[22369600px] shrink-0 w-[8.75px] h-[8.75px] relative"
          ></div>
          <div
            class="flex flex-row gap-0 items-start justify-start shrink-0 w-[47.21px] h-3.5 relative"
          >
            <div
              class="text-[#45556c] text-left font-['Inter-Regular',_sans-serif] text-[10.5px] leading-[14px] font-normal relative"
            >
              Ready
            </div>
          </div>
        </div>
        <div
          class="flex flex-row gap-[7px] items-center justify-start self-stretch shrink-0 h-3.5 relative"
        >
          <div
            class="bg-[#eab308] rounded-[22369600px] shrink-0 w-[8.75px] h-[8.75px] relative"
          ></div>
          <div
            class="flex flex-row gap-0 items-start justify-start shrink-0 w-[29.09px] h-3.5 relative"
          >
            <div
              class="text-[#45556c] text-left font-['Inter-Regular',_sans-serif] text-[10.5px] leading-[14px] font-normal relative"
            >
              Watch
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    
    
    </div>
    
    <div class="flex gap-4 justify-between p-4">
  <div 
    *ngFor="let card of MapBottomCards"
    class="rounded-[7px] border-solid border-[0.67px] pt-[11.17px] pr-[11.17px] pb-[0.67px] pl-[11.17px] flex flex-col gap-[3.5px] items-center justify-start w-[138.98px] h-[67.83px]" [style.background]="card.bg" [style.borderColor]="card.border"
  >
    <div class="flex flex-row h-7 text-center font-bold text-[21px] leading-7" [style.color]="card.color">
      
        {{ card.count }}
     
    </div>

    <div class="flex flex-row h-3.5 text-center text-[10.5px] leading-[14px]" [style.color]="card.colorP">
    
        {{ card.label }}
     
    </div>
  </div>
</div>
  </div>
</div>


