.card-header,
.card-header * {
    box-sizing: border-box;
}
.card {
background: rgba(255, 255, 255, 0.80);
border-radius: 14px;
display: flex;
flex-direction: column;
gap: 21px;
align-items: flex-start;
justify-content: flex-start;
position: relative;
box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.10), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
overflow: hidden;
}
.card-header {
background: linear-gradient(90deg, rgba(255, 247, 237, 1.00) 0%, rgba(255, 251, 235, 1.00) 50%, rgba(255, 247, 237, 1.00) 100%);
border-style: solid;
border-color: rgba(255, 237, 212, 0.50);
border-width: 0px 0px 0.67px 0px;
padding: 0px 0px 0.67px 0px;

height: 91.67px;

}

.gujarat-map {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 587.44px;
    height: 43.75px;
    position: absolute;
    left: 21px;
    top: 21px;
}



.icon {
display: flex;
width: 31.5px;
height: 31.5px;
padding: 7px 7px 0 7px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
border-radius: 11px;
background: linear-gradient(135deg, #FF6900 0%, #E17100 100%);
box-shadow: 0 10px 15px -3px rgba(255, 105, 0, 0.30), 0 4px 6px -4px rgba(255, 105, 0, 0.30);
}




.card-title {
    color: #0f172b;
    text-align: left;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 15.75px;
    font-weight: 700;
    margin-bottom: 0;

}




.badge {
    background: linear-gradient(90deg, rgba(0, 201, 80, 1.00) 0%, rgba(0, 188, 125, 1.00) 100%);
    border-radius: 5px;
    height: 17.5px;
    box-shadow: 0px 4px 6px -4px rgba(0, 201, 80, 0.30), 0px 10px 15px -3px rgba(0, 201, 80, 0.30);
    overflow: hidden;
}


.live-data {
    color: #ffffff;
    text-align: left;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 10.5px;
    line-height: 14px;
    font-weight: 500;

}
:host {
  display: block;
  height: 100%; /* Important: allows the map div to fill the 403px container */
}
::ng-deep app-cm-map, ::ng-deep app-map-card {
  display: block !important;
  height: 100% !important;
  width: 100% !important;
}

::ng-deep .leaflet-container {
  height: 100% !important;
  width: 100% !important;
}
