<div class="card p-3">
  <!-- Header Section -->
  <header class="card-header p-2">

    <h1 class="justify-start text-neutral-950 font-semibold text-sm leading-5">District wise Active Alert </h1>
    <h2 class="justify-start text-blue-500 text-sm font-semibold leading-5">{{ districtName }} {{ totalAlerts }} Alerts</h2>
  </header>

  <!-- Alert List -->
  <div class="alert-list">
    <div class="alert-item" *ngFor="let alert of alerts">
      <div class="alert-left-content">
        <!-- Status Dot -->
        <span class="status-dot" [style.backgroundColor]="alert.severityColor"></span>
        
        <div class="alert-details">
          <h3 class="alert-title text-neutral-950 text-xs font-medium leading-4 mb-2">{{ alert.title }}</h3>
          
          <div class="meta-info">
            <span class="meta-item">
              <mat-icon fontSet="material-symbols-outlined">location_on</mat-icon>
              {{ alert.location }}
            </span>
            <span class="meta-item">
              <mat-icon fontSet="material-symbols-outlined">calendar_today</mat-icon>
              {{ alert.timeAgo }}
            </span>
          </div>
        </div>
      </div>

      <div class="alert-actions">
        <!-- Status Badge -->
        <span class="badge" [ngClass]="alert.status.toLowerCase()">
          {{ alert.status }}
        </span>
        <!-- Action Link -->
        <button class="view-btn" (click)="onViewDetail(alert)">View</button>
      </div>
    </div>
  </div>
</div>
